.profile__button_edit {
  background-image: url("../../../images/edit_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid white;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity .5s;
  margin: 15px 18px 0;
  padding: 0;
}

.profile__button_edit:hover {
  opacity: .6;
  transition: opacity .5s;
}

@media (max-width: 879px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;
    margin: 8px 10px 0;
  }
}
