.elements {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 20px 17px;
}

@media (max-width: 900px) {
  .elements {
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    padding: 0 19px 0;
    justify-items: center;
  }
}

@media (max-width: 653px) {
  .elements {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
