.profile__add {
  background-image: url(../../../images/add_button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-width: 150px;
  min-height: 50px;
  justify-self: end;
  align-self: center;
  transition: .5s;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
}

.profile__add:hover {
  opacity: .6;
  transition: .5s;
}

@media  (max-width: 653px) {
  .profile__add {
    margin: 4px 0 0 0;
    background-size: 16px 16px;
    min-width: 100%;
    justify-self: center;
  }
}
