.profile__avatar {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border-radius: 50%;
}

.profile__avatar:hover::after {
  visibility: visible;
}

.profile__avatar::after {
  position: absolute;
  content: '';
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0%;
  background-position: center;
  background: rgba(0, 0, 0, .8) url("../../../images/avatar_edit.svg") no-repeat center;
  visibility: hidden;
}
